@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  button {
    @apply border border-black rounded-xl px-5 py-1
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
